@charset "UTF-8";

body {
    background-color: rgb(70, 142, 236);
    font: normal 1.3em Arial;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.274);
}

main {
    background-color: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
}

select {
    width: 150px;
    /*height: 150px;*/
}

footer {
    font-style: italic;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.274);
}